#widthFixer {
    opacity: 0;
}
section {
    bottom: auto !important;
}
.resized.smartphone {
    /*transform: scale(1) !important;*/
}

body {
    overflow: hidden;
    background: #fff;
}

.border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 1280px;
    margin: auto;
    border: 1px solid #000;
}

.banner.smartphone,
.banner.tablet,
.banner.desktop {
    z-index: 900 !important;
}

/*
=====================
Landscape Message
=====================
*/
#msg_landscape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    display: none;
    width: 100%;
    height: 100%;
    background: black;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

#msg_landscape.white {
    background: #fff;
}

@media screen and (orientation: landscape) {

    .fpf .plzrotate {
        position: relative;
        display: block;
        margin: 50px auto;
        font-family: Helvetica, Arial, sans-serif;
        color: #fff;
        text-align: center;
        text-transform: none;
    }

    .fpf.white .plzrotate {
        color: #000;
    }

    .fpf .plzrotate img {
        margin-bottom: 20px;
    }

    .closed.fpf .plzrotate {
        display: none;
    }

    .fpf .spinner {
        position: relative;
        display: block;
        width: 48px;
        height: 24px;
        margin: 20px auto 20px;
        background: #fff;
        background-size: 48px 48px;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
        -webkit-animation: rotating 2s cubic-bezier(.785, .135, .15, .86) infinite;
           -moz-animation: rotating 2s cubic-bezier(.785, .135, .15, .86) infinite;
            -ms-animation: rotating 2s cubic-bezier(.785, .135, .15, .86) infinite;
             -o-animation: rotating 2s cubic-bezier(.785, .135, .15, .86) infinite;
                animation: rotating 2s cubic-bezier(.785, .135, .15, .86) infinite;
        -webkit-animation-delay: 1s;
           -moz-animation-delay: 1s;
            -ms-animation-delay: 1s;
             -o-animation-delay: 1s;
                animation-delay: 1s;
        -webkit-animation-direction: alternate;
           -moz-animation-direction: alternate;
            -ms-animation-direction: alternate;
             -o-animation-direction: alternate;
                animation-direction: alternate;

            -ms-border-radius: 3px;
             -o-border-radius: 3px;
    }

    .fpf.white .spinner {
        background: #000;
    }

    .fpf .dot {
        position: absolute;
        right: 2px;
        bottom: 8px;
        width: 6px;
        height: 6px;
        background: #000;
        -webkit-border-radius: 100%;
           -moz-border-radius: 100%;
                border-radius: 100%;

            -ms-border-radius: 100%;
             -o-border-radius: 100%;
    }

    .fpf.white .dot {
        background: #fff;
    }

    .fpf .box {
        position: absolute;
        right: 10px;
        bottom: 3px;
        width: 34px;
        height: 18px;
        background: #000;
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
                border-radius: 2px;

            -ms-border-radius: 2px;
             -o-border-radius: 2px;
    }

    .fpf.white .box {
        background: #fff;
    }
}

@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(90deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
    }
}
@-moz-keyframes rotating {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(90deg);
    }
    100% {
        -moz-transform: rotate(90deg);
    }
}
@-o-keyframes rotating {
    0% {
        -o-transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(90deg);
    }
    100% {
        -o-transform: rotate(90deg);
    }
}
@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

#custom-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    /* Change this to the path of your close button. */
    background-image: url(custom-close-button.png); 
    background-repeat: no-repeat;
    background-size: contain;
}


/**
 * ///////////////////////////////////////////////////
 * ###################################################
 * Your Custom CSS Here
 * ###################################################
 * ///////////////////////////////////////////////////
 */

















